body {  
	background-color: #F3EEC8;
	font-family: 'Artifika', serif;
	
 
}
#colorNav {
	font-size: 24px;
	background-color: #F3EEC8;
	border-bottom: 4px solid rgb(56, 76, 19);

}
#nav-bar  a {
	color: #33603C;
	text-decoration: none;
}

/*trying to get my nav style to work*/
.navbar-custom{
	
}
/*1st containter*/

#forest { 
	background-image: url(../images/forest.jpg);
	background-size: cover;
	padding-top: 10em;
	padding-bottom: 5em;
	border-top: 4px solid rgb(56, 76, 19);
	border-bottom: 4px solid rgb(56, 76, 19);
}


#infoBox {
	background-color: #F3EEC8;
	border: 4px solid rgb(56, 76, 19);
	width:65%;
	opacity: .8;
	}
#email {
	background-color: rgba(72, 94, 42, .7);
	color: #F3EEC8;
	padding: 5px 20px;
	border-radius: 15px;
}

@media screen and (max-width: 768px){
	#infoBox {
		width: 95%;
		padding:1em;

	}
}
#typeServices {
	
	padding-bottom: 1em;


}
#serviceLists{
	border-top: 2px solid rgb(155,165,137);
	padding: 1em;
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
  border-top: 2px solid rgb(155,165,137);
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/*footer*/
#ft-bgColor {
	background:url(../images/bgGreen.png);
	border-bottom: 3px solid rgb(56, 76, 19);
	border-top: 3px solid rgb(56, 76, 19);
	padding: 3rem;
}

#color {
	font-size: 18px;
	/*border-right: 2px solid rgb(155,165,137);*/
	color: #F3EEC8;
	background-color: rgba(72, 94, 42, .6);
	border: 2px solid rgb(56, 76, 19);
	margin: 15px;
	padding:1em;
	height: 300px;
}
#color strong {
	font-size: 24px;
}
#color img {

	padding:1rem;

}


/*start of Meet the Family*/
#bg-green {
	background:url(../images/bgGreen.png);
	background-size: cover;

}
#ourFamily {

	padding-top: 4rem;
	color: #F3EEC8;
}
.thumbnail {
	background-color: #F3EEC8;
	opacity: .9;
	border: 2px solid darkgreen;
	padding:2rem 0;
}

/*Meet our Family Full page*/

#meetUs {
	padding: 3em;
	border-bottom: 1px solid darkgreen;
	

}
#pictUs {
	padding-top: 4rem;
	padding-bottom: 2rem;
	
}

#equal {
	height: 35%;
	border: 4px solid rgb(101,125,46);
	background-color: #F3EEC8;
	margin-top: 3rem;
}

#gradient {
	background-image: url(../images/theLight.jpg);
	background-size: cover;

}

#meetUs h4 {
	margin-bottom: 3em;

}

#meetFoot {
	margin-top: 7rem;
	background-color: #F3EEC8;
	border-top: 4px solid rgb(101, 125, 45);
}

#color2 {
	font-size: 18px;

	/*border-right: 2px solid rgb(155,165,137);*/
	color: #F3EEC8;
	background-color: rgba(101,125,46, .7);
	border: 2px solid rgb(56, 76, 19);
	margin: 15px;
	padding:1em;
	height: 300px;
}
#color2 strong {
	font-size: 24px;
}
#color2 img {

	padding:1rem;

}